@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminLayoutHeadComponent")

<body>
   
    <div class="wrapper">
        <!-- Sidebar -->
         
        @await Component.InvokeAsync("_AdminLayoutSidebarComponent")
        <!-- End Sidebar -->
        @await Component.InvokeAsync("_AdminLayoutTopbarComponent")

        <div class="container">
            <div class="page-inner">                
                        @RenderBody()             
            </div>
        </div>


        @await Component.InvokeAsync("_AdminLayoutFooterComponent")
    </div>

    </div>

    @await Component.InvokeAsync("_AdminLayoutScriptsComponent")
    
</body>
</html>
