@model MilkyProject.WebUI.Dtos.ProductDto.CreateProductDto


@{
    ViewData["Title"] = "CreateAdminProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@* <form method="post">
    <div class="container">
        <h1>Create Product</h1>
        <br /><br />
     
        <br />
        <label>Product Name</label>
        <input type="text" asp-for="productName" class="form-control" />
        <br />
        <label>Product Image</label>
        <input type="text" asp-for="productImageUrl" class="form-control" />

        <label>Old Price</label>
        <input type="text" asp-for="oldPrice" class="form-control">

        <label>New Price</label>
        <input type="text" asp-for="newPrice" class="form-control">

        <label>status</label>
        <input type="text" asp-for="status" class="form-control">

        <label>Category</label>
        <input type="text" asp-for="category.categoryName" class="form-control">

        <br />
        <button type="submit" class="btn btn-warning">Save Changes</button>
    </div>
</form>

 *@