<div class="sidebar" data-background-color="white">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="green2">
            <a href="index.html" class="logo">
                <img src="~/kaiadmin-lite-1.0.0/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
               
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Milky Admin</h4>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Default/Index/">
                        <i class="bi bi-arrow-90deg-left"></i>
                        <p>Go To Site</p>                       
                    </a>                   
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/AdminAbout/AdminAboutList/">
                        <i class="bi bi-file-person-fill"></i>
                        <p>About</p>                       
                    </a>                   
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/AdminAdress/AdminAdressList/">
                        <i class="bi bi-pin-map"></i>
                        <p>Adress</p>                       
                    </a>                   
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/AdminProduct/AdminProductList/">
                        <i class="bi bi-basket2"></i>
                        <p>Product</p>                       
                    </a>                   
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/AdminService/AdminServiceList/">
                        <i class="bi bi-sliders2"></i>
                        <p>Services</p>                       
                    </a>                   
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/AdminTeam/AdminTeamList/">
                        <i class="fa-solid fa-people-group"></i>
                        <p>Team</p>                       
                    </a>                   
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/AdminTestimonial/AdminTestimonialList/">
                        <i class="fa-solid fa-face-grin-stars"></i>
                        <p>Testimonial</p>                       
                    </a>                   
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/AdminWhyUs/AdminWhyUsList/">
                        <i class="fa-solid fa-question"></i>
                        <p>Why Us</p>                       
                    </a>                   
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-regular fa-arrow-right-from-bracket"></i>
                        <p>Log Out</p>                       
                    </a>                   
                </li>
                
              
    
            </ul>
        </div>
    </div>
</div>
