

<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">

        <div class="copyright">
            2024, made with <i class="fa fa-heart heart text-danger"></i> by
            <a href="https://github.com/Faruk-Celik">Faruk Çelik</a>
        </div>
        <div>
            Designed by
            <a target="_blank" href="https://github.com/Faruk-Celik">Faruk Çelik</a>.
        </div>
    </div>
</footer>